<section class="resume-section p-3 p-lg-5 d-flex d-column" id="contact">
  <div class="my-auto">
    <div class="inner contact">
      <div class="contact-form">
        <form id="contact-us" method="post" action="https://formspree.io/wellington.jhn@gmail.com">
          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
            <input type="text" name="name" id="name" required="required" class="form" placeholder="Nome" />
            <input type="email" name="_replyto" id="mail" required="required" class="form" placeholder="Seu e-mail" />
            <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Assunto" />
          </div>
          <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
            <textarea name="message" id="message" class="form textarea" placeholder="Mensagem"></textarea>
          </div>
          <div class="relative fullwidth col-xs-12">
            <button type="submit" id="submit" name="submit" class="form-btn semibold">Enviar</button>
          </div>
          <div class="clear"></div>
        </form>

        <div class="mail-message-area">
          <div class="alert gray-bg mail-message not-visible-message">
            <strong>Obrigado!</strong> Seu e-mail foi enviado.
          </div>
        </div>

      </div>
    </div>
</section>